
hr{
  border-style: dotted none none none;
  border-color: #D3DEDC;
  border-width: 6px;
  width: 4%;
  margin-bottom: 0;
}
h1{
  color: #66BFBF;
  font-family: 'Lobster', cursive;
  font-size: 3.2rem;
  margin: 0 0 auto;
}
h2{
  font-weight: lighter;
  font-family: 'Pacifico', cursive;
   color: #66BFBF;
   font-size: 2rem;
   margin: 0 0 auto;
   }
h3{
  color: #66BFBF;
  font-family: cursive;
}
h4{
  color: #92A9BD;
  font-family: cursive;
  margin-bottom: 0;
}
h5{
  color: #92A9BD;
  font-family: cursive;
  margin-top: 0;
}
body{
  color: #1A374D;
  margin: 0;
  text-align: center;
  font-family: cursive;
}
.top-container{
  padding-top: 100px;
  background-color: #CFFFDC;
  position: relative;
}
.bottom-cloud{
  position: absolute;
  left: 350px;
}
.top-cloud{
  position: absolute;
  right: 350px;
  top: 80px;
}
.course{
  display: block;
  width: 300px;
  height: 200px;
  margin:auto;
  text-align:left;
}
.course-img{float:left;
position: absolute;
left: 30%;}
.hobbies{
  display: block;
  width: 300px;
  height: 200px;
  margin:auto;
  text-align:left;
}
.skill{
  display: block;
  width: 300px;
  height: 200px;
  margin:auto;
  text-align:left;
}
.skill-img{float:right;
position: absolute;
right: 24%;}
.work{display: block;
width: 300px;
height: 200px;
margin:auto;
text-align:left;}
.qual-img{float: left;
position: absolute;
left: 25%;}
.hobbies{display: block;
width: 300px;
height: 200px;
margin:auto;
text-align:left;}
.hobbies-img{float:right;
  osition: relative;
  top: 1200px;
position: absolute;
right: 35%;}
.middle{padding: 30px;}
.middle-container{
  background-color: #FFF8F3;
}
.bottom-container{background-color: #DFD3C3;
padding: 50px 0 20px;}
.h3{margin-top: 0;
padding-top: 10px;}
.p{margin-bottom: 0;
font-size: 0.6rem;}
.follow{padding-right: 90px;
padding-left: 30px;}
.hello{font-size: 2.3rem;}
.btn {
  background: #3FA796;
  background-image: -webkit-linear-gradient(top, #3FA796, #2980b9);
  background-image: -moz-linear-gradient(top, #3FA796, #2980b9);
  background-image: -ms-linear-gradient(top, #3FA796, #2980b9);
  background-image: -o-linear-gradient(top, #3FA796, #2980b9);
  background-image: linear-gradient(to bottom, #3FA796, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Georgia;
  color: white;
  font-size: 16px;
  padding: 8px 16px 8px 16px;
  border: solid #3FA796 0px;
  text-decoration: none;
}

.btn:hover {
  background: red;
  text-decoration: none;
}
a{
  text-decoration: none;
  color: #676FA3;
}
a:hover{
  color: #9145B6;;
}
